* {
  font-family: "georgia" sans-serif;
}
#nav-bar {
  position: relative;
  top: 0;
  margin-left: 0%;
  padding: 0%;
  Height: 15%;
  width: 100%;
  color: gray;
  background-color: white;
  overflow: hidden;
  border-bottom: 2px solid #dddddd; 
}

#heading_name {
  background-color: #4aaaa5;
  color: white;
  text-align: left;
  margin-left: 10%;
  height: -27%;
  font-size: 2em;
  font-weight: bold;
  padding: 4%;
}

.ulnav {
  list-style-type: none;
  margin-top: -27px;
  margin-right: 10%;
  padding: 0;
  overflow: hidden;
  float: right;
  
}

.container {
  width: 960px;
  margin-left: 10%;
  margin-right: 10%;
  margin: auto;
  background-color: white;
  padding: 3%;
  border: 2px solid #dddddd;
}

.contentTopper {
  margin: 0px 0px 0px 20px; 
  height: 40px; 
  padding: 0px 0px 20px 0px;
  width: 960px; 
  border-bottom: 2px solid #dddddd;
}



p {
  color: grey;

}
#title {
  color: #4aaaa5;
}
body {
  margin: 0px;
  background-image: url("../images/beanstalk.png");
}

:placeholder-shown {
  color: #777777;
}
span {
  color: #777777;
}

li, a {
  display: block;
  color: gray;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
}

.active {
  background-color: #4CAF50;
}
h1 {
  color: #4aaaa5; 
}
#bio-image {
  float: "left";
}
img {
  width: 200px;
  height: 200px;
}
h2 {
  width: 200px;
  color: white;
  background-color: #4aaaa5; 
  text-align: center;
}

footer {
  background-color: black;
  border-top: 2px solid #4aaaa5;
  height: 50px;
  color: gray;
  text-align: center;
}
.table {
  width: 100%;
  
}
li a:hover {
  background-color: #17ca4d;
  color:#777777;   
}
form {
  color: black;
}
button {
  background-color: #4CAF50;
  color: white;
}
input:focus, textarea:focus, button:focus {
  box-shadow: 0 0 4px rgba(0,128,128,0.3);
  border: 10px solid rgba(0,128,128);
}
